@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
/*
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */

body {
  /* font-family: 'Fira Sans', 'Helvetica Neue', arial, sans-serif; */
  font-family: "Fira Sans", sans-serif;
}
div {
  transition: background-color 500ms;
}

*:focus {
  outline: none;
}

.text-shadow {
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Calculate content width, remove sidebar size */
@media (min-width: 768px) {
  .app-container {
    width: calc(100% - 14rem) !important;
  }
}
/* End calculation */

/* Sidebar hide and show animation */
/* .app-sidebar { */
/* min-width: 220px; */
/* transform: none; */
/* transition: transform 200ms ease-in-out; */
/* } */

/* .hide {
  transform: translateX(-100%);
}
End sidebar hide show */

/* Underline animation in nav links */
.nav-link:after {
  margin: 3px 0;
  content: "";
  display: flex;
  border-bottom: 0.25rem solid white;
  transform: scaleX(0);
  transition: transform 300ms;
}

.nav-link:hover:after {
  transform: scaleX(1);
}

/* End underline animation */

.hover-scale-05:hover {
  transition: transform 100ms;
  transform: scale(1.05);
}

.hover-scale-10:hover {
  transition: transform 100ms;
  transform: scale(1.1);
}
