@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap'); */
/* * {
  box-sizing: border-box;
} */
body {
  /* font-family: 'Fira Sans', 'Helvetica Neue', arial, sans-serif; */
  font-family: 'Fira Sans', sans-serif;
}

*:focus {
  outline: none;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .app-container {
    width: calc(100% - 14rem) !important;
  }
}

.app-sidebar {
  /* min-width: 220px; */
  transition: transform 200ms ease-in-out;
  transform: none;
}

.hide {
  transform: translateX(-100%);
}
