.about
	display: flex
	flex: 1
	background: url(../slike/cover.jpg)
	background-size: cover

	min-height: 300px


	// .cover-sadrzaj
	// 	min-height: 300px
	// 	display: flex
	// 	justify-content: center
	// 	align-items: center
	// 	text-transform: uppercase
	// 	color: white
	// 	font-size: 4rem