.cover
	width: 100vw
	background: url(../slike/cover.jpg)
	background-size: cover
	min-height: 400px
	z-index: 0	

	.otvarac
		display: flex
		justify-content: space-between
		box-sizing: border-box
		height: 80px
		padding: 10px
		text-shadow: 0 0 3px #000
		filter: blur(0px)

		.logo
			box-sizing: border-box
			height: 60px
			border: 2px solid $prljavoBela
			border-radius: 3px
			width: auto
			padding: 5px 15px
			line-height: 46px
			color: $prljavoBela
			font-family: $fontLogo
			letter-spacing: 0.15em

			h1
				margin: 0
				font-size: 2.5rem


		.nav-dugme
			position: fixed
			right: 10px
			@include size(60px)
			border-radius: 5px
			background: $poluprovidnoCrno
			border: none
			font-size: 50px
			line-height: 60px
			color: $prljavoBela
			z-index: 111
			cursor: pointer

	ul
		@include position(fixed, 0 0 0 auto)
		background: $skoroCrno
		width: 0px
		z-index: 0
		transition: width 400ms

		&.prikazi
			width: 260px

		li
			height: 50px
			text-align: left
			padding-left: 30px

			&:first-child
				height: 80px
				font-size: 60px



@media screen and (min-width: 700px)
	.nav-dugme
		display: none
	