.navigacija
	//Zakomentarisi narednu liniju ako hoces da stavis da ti sadrzaj ne prelazi preko navigacije
	//Ostavi narednu liniju i dodaj narednom divu padding-top ako hoces da uzmes pozadinu od diva ispod a da ti sadrzaj ne prelazi preko nava
	//Nije isprobano
	@include position(absolute, 0 0 auto 0)
	//width: 100%
	height: auto
	display: flex
	//flex: 1
	nav
		flex-grow: 1

	.otvarac
		display: flex
		justify-content: space-between
		box-sizing: border-box
		height: 80px
		padding: 10px
		text-shadow: 0 0 3px #000

		.logo
			box-sizing: border-box
			height: 60px
			display: inline-block
			width: 60px
			z-index: 0
			background:
				image: url(../slike/logo.svg)
				size: contain
				position: center
				repeat: no-repeat

			h1
				@include hide-text
				


		.nav-dugme

			display: flex
			justify-content: space-around
			align-items: center
			flex-direction: column
			//flex-wrap: none
			@include position(absolute, 10px 0px auto auto)
			@include size(60px)
			border-radius:  5px 0 0  5px
			background: $poluprovidnoCrno
			padding: 10px
			box-sizing: border-box
			cursor: pointer	
			margin-right: 0px
			transition: all 400ms
			//z-index: 2

			&.pomeri-nav-dugme
				margin-right: 160px
				background: $skoroCrno

			// Animacija nav dugmeta

			.crta
				width: 100%
				height: 3px
				background: $prljavoBela
				opacity: 1
				transition: all 400ms ease-in
				
			&.pomeri-nav-dugme .crta
				opacity: 0


			.crta-sredina, .crta-sredina:before, .crta-sredina:after
				display: block
				position: relative
				content: ""
				height: 3px
				background: $prljavoBela
				width: 100%	
				transition: all 800ms	ease-in-out		

			.crta-sredina
				background: transparent


			.crta-sredina:after
				top: -3px


			
			&.pomeri-nav-dugme .crta-sredina:after
				transform: rotate(45deg)

			&.pomeri-nav-dugme .crta-sredina:before
				transform: rotate(-45deg)			
				





	@media screen and (max-width: 700px)
		.nav-linkovi
			@include position(fixed, 0 0 0 auto)
			background: $skoroCrno
			width: 0px
			transition: width 400ms
			text-transform: uppercase
			display: flex
			flex-direction: column
			z-index: 1
			padding-top: 20px
			


			&.prikazi-nav
				width: 160px

			li
				display: flex
				height: 40px
				padding-left: 10px
				font-size: 16px
				align-items: center

				// &:first-child
				// 	height: 80px
				// 	font-size: 2.6rem
				// 	visibility: none

				a
					padding: 10px 15px




@media screen and (min-width: 701px)
	.navigacija
		nav
			display: flex
			justify-content: space-between
			.otvarac
				//display: inline-block

				.nav-dugme
					display: none

			.nav-linkovi
				padding-right: 15px
				background: transparent
				display: flex
				flex: 1
				justify-content: flex-end
				align-items: center
				text-shadow: 1 1 3px #000

				li
					//min-width: 80px
					font-size: 20px
					padding: 10px 15px
					//line-height: 1.5

					a:after
						content: ""
						display: flex
						//padding-bottom: 3px
						border-bottom: 0.2em solid $prljavoBela
						transform: scaleX(0)
						transition: transform 400ms

					a:hover:after
						border-bottom: 0.2em solid $prljavoBela
						border-width: auto
						transform: scaleX(1)


@media screen and (min-width: 951px)
	.navigacija
		padding: 10px 30px 0 30px
		nav
			.nav-linkovi
				li
					font-size: 30px
					padding: 20 15px

